<div class="bg-image"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY0lyvrs8GrTIqaX2s5_cq67iAzs4zajr_GQ&s" alt="image" style="height: 90vh; width: 100vw;"></div>

<div class="text1">
<h2>Celebrate Summer Holy-Day With Us</h2>
<i> <b style="color: red;">Celebrate your holyday with me </b>is pleased to announce the opening of their first office in Delhi. I here by in conjunction with the Jingle Holiday Bazar Pvt Ltd takes great pleasure in announcing the formation of our company to serve the needs of travellers in all aspects of their requirement. I have the pleasure of announcing the formation of <b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolor sunt sint nostrum facere rerum nulla totam culpa? Dolorum sit ad quia ipsam commodi, et dolores. Neque ab iure voluptates?</b> Pleased to be our client and support us to promote our new venture Jingle Holiday Bazar Pvt Ltd & in return we will give you the memorable services that you will never forget.   </i>
</div>

<div class="text2">
<h3> Our clients review</h3>
<p> 
    Being a product of the renowned Holidays by Jingle Holiday Bazar, which is an ``ISO`` certified travel company that has the record of being the leading travel & tours company in the B2B sector, Travkart is a name that breeds trust. A 24*7 emergency and crisis support system and complete transparency regarding pricing, policy and procedures make Jingle Holiday Bazar a trusted name for safe & easy travel around the world

</p>

</div>

<div class="client-image">
<div class="box"> <img src="https://media.istockphoto.com/id/842181676/photo/tourist-surfing-the-net-outdoors.jpg?s=612x612&w=0&k=20&c=_D3G_VqswUqUZSU-xa0r88dgYHfLhIGU2A1rXgmaxZs=" alt="1" style="height: 100%; width: 100%;"></div>
<div class="box"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoz8bouTwtCz0RpCEz8wh0xYp648QHG9WfUg&s" alt="2" style="height: 100%; width: 100%;"></div>
<div class="box"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVVN5azqeepCSK5P1LDikAufwUUc1e4cYe8g&s" alt="3" style="height: 100%; width: 100%;"></div>
<div class="box"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC2ZeniR28cdxY4CN3mh9AMNhVeOWdfLQN-w&s" alt="4" style="height: 100%; width: 100%;"></div>
</div>