<div >
    <img src="https://cdn.pixabay.com/photo/2018/09/27/06/31/world-3706333_1280.jpg" alt="1" style="height: 100vh; width: 100vw;">
</div>

<div class="text">
    <h1 style=" display:flex; justify-content:center;">Let's go for Foreign trip</h1>
    <i style="font-size: larger;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ducimus magni adipisci obcaecati odio suscipit. Atque qui iusto natus quo, doloremque quidem cumque necessitatibus labore? Aliquid in repellat tenetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, exercitationem repudiandae totam natus reiciendis atque eum dolore, ut quod non aperiam itaque suscipit est. Facere recusandae molestiae eius beatae repudiandae.</i>
</div>


<!--  Note : All gallery classname is same be careful at editing time -->
  <!-- Gallery 1 -->
<div class="gallery-text" style="background-color: rgba(0, 255, 255, 0.521)">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Adventorou's Island</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Adventorous Destination Gallery</p>
  </div>
  
  <div class="gallery-image">
  <div class="gallery-image1">
  <div class="image-box1"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgXKjPEZ9elNWqj2bg98wD7AShok9QgSullg&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Sciong</div>
  </div>
  <div class="image-box2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaJjXodeoaJKlVkf3zeXF_GXSwu-GqFHBDg&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Wasington DC</div></div>
  <div class="image-box3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZsVe3o0jma8AL-x0W5wBX_HREQU9nEqPoYg&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box"> Japan</div></div>
  <div class="image-box4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1AccA6_Q20d5xRUmH0Oe-vQ0XfHEk9enITA&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">New York</div></div>
  </div>
  <!-- Gallery image 2-->
  <div class="gallery-text" style="background-color: rgba(255, 255, 0, 0.562);">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Piknic Spot</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Piknic Destination Gallery</p>
  </div>
  

  <div class="gallery-image2">
    <div class="image-box5"> 
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9c52EY4QeY7lWlezjJvY2ShhAIMM19DIxvQ&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Colambo</div></div>
    <div class="image-box6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScGPukU3ahcwn85aRT-EHAxNlGni69oWHe0w&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Dalhousie</div></div>
    <div class="image-box7">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ836G4E5dRhjTmfxkxkPrKKWNTLC5-v0_Uw&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box"> Combart</div></div>
    <div class="image-box8">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHVwvoaSbmusQMu-x2Dqiv92iUND2c2RxRbw&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Austallia</div></div>
    </div>
     

    <!-- Gallery 3 -->
<div class="gallery-text" style="background-color: rgba(255, 0, 0, 0.384);">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Nature Lover</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Nature's lover Destination Gallery</p>
  </div>
  
  <div class="gallery-image">
  <div class="gallery-image1">
  <div class="image-box1"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbqMcAjdI2FNrCBf-B3En-LkEIicKfLFNzuQ&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Ireland</div>
  </div>
  <div class="image-box2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmdMeYlnQ5uHfu3ghspBeFAY6isIf5vwRAVA&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">New Zealand</div></div>
  <div class="image-box3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYYJ1XHHrQH-rZx3KiqhDzFOontA8ZOOGhPQ&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box"> Nepal</div></div>
  <div class="image-box4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-06cAXHm7uL3BYiE5N2cvw4komK_7352Z3Q&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Bhutan</div></div>
  </div>
  <!-- Gallery image 4 -->
  <div class="gallery-text" style="background-color: rgba(0, 128, 0, 0.493);">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Coolest Place</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Coolest Destination Gallery</p>
  </div>
  

  <div class="gallery-image2">
    <div class="image-box5"> 
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpwraRjAiiOoNyeDCXuGp6wNdk_P0dymSo-A&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Astana,Kazaakhstan</div></div>
    <div class="image-box6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-5hYmo-RDrh7zV5PJ9mcDU5ffM_phe13B8Q&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Minnesota,USA</div></div>
    <div class="image-box7">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3HXHl5oyeKKZNW4F_fJwVgJ3UbRXj5pYt9w&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box"> Mangolia</div></div>
    <div class="image-box8">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICwHfadwBTKf1QTKwN00okK-ivuG3xWRhyw&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">YellowKnife</div></div>
    </div>
