<div > <img src="https://thumbs.dreamstime.com/b/famous-landmarks-around-world-travel-background-ai-generative-famous-landmarks-around-world-travel-background-design-324007031.jpg" alt="1" style="height: 100vh; width: 100vw;"></div>
  <div class="message-box">
    <div class="phone">
      <i class="fa-solid fa-mobile-button" id="font"></i>
      <h1 style="padding-left: 30px;">Make a Call</h1>
      <p style="padding-left: 70px; font-size: larger;">+91 8795241***</p>
      <p style="padding-left: 70px; font-size: larger;"> +918795817***</p>
    </div>
    <div class="mail">
      <i class="fa-solid fa-envelope" id="font"></i>
      <h1 style="padding-left: 30px;">Send a mail</h1>
       <p style="padding-left: 40px; font-size: larger;">enjoy&#64;279gmail.com</p>
       <p style="padding-left: 40px; font-size: larger;">project&#64;279gmail.com</p>
    </div>
    <div class="location">
      <i class="fa-solid fa-location-dot" id="font"></i>
      <h1 style="padding-left: 60px;">Find Us</h1>
      <p style="padding-left: 70px; font-size: larger;"> 3C, A1 Sector 62 , </p>
      <p style="padding-left: 70px; font-size: larger;"> Haryana , India</p>
    </div>
  </div>

  <div class="message"><h1>HAVE YOU ANY QUESTION?</h1> </div>

<div class="form">
<div class="name"> <input type="text" placeholder="Enter Your Name :"></div>
<div class="number"> <input type="number" placeholder="Enter Your Contact Number :"></div>
<div class="email" ><input type="email" placeholder="Enter Your E-mail Id :"></div>
<div class="comment"> <textarea placeholder="Enter Your Query :-"></textarea></div>
<div class="button"> <h4>SUBMIT</h4></div>
</div>

