<div >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYY7K76BoBYAVbK53pippU6sgNjemvZHwJsJR5FvqW3qcaO9rHoOGysO-1hkQpNUJykok&usqp=CAU"style="height: 100vh; width: 100vw;">
</div>

<div class="text">
    <h1 style=" display:flex; justify-content:center;">Good place for Bharat Visitor's</h1>
    <i style="font-size: larger;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ducimus magni adipisci obcaecati odio suscipit. Atque qui iusto natus quo, doloremque quidem cumque necessitatibus labore? Aliquid in repellat tenetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, exercitationem repudiandae totam natus reiciendis atque eum dolore, ut quod non aperiam itaque suscipit est. Facere recusandae molestiae eius beatae repudiandae.</i>
</div>


<!--  Note : All gallery classname is same be careful at editing time -->
  <!-- Gallery 1 -->
<div class="gallery-text" style="background-color: rgba(218, 165, 32, 0.493);">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Eastern India</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Eastern's India Destination Gallery</p>
  </div>
  
  <div class="gallery-image">
  <div class="gallery-image1">
  <div class="image-box1"> 
    <img src="https://images.robertharding.com/zoom/RM/RH/HORIZONTAL/1225-88.jpg" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Assam</div>
  </div>
  <div class="image-box2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWeHIZHfXm9eETymtR6kYZOLnrtc85yFs_2g&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Meghalaya</div></div>
  <div class="image-box3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzu1z0Q89Z_LR3nS1qwkwNZh9cblvPoEq-pA&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box"> Itanagar </div></div>
  <div class="image-box4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFTXwCyjQa-fccCN0wUnw0U1bvfb9uXKPi7A&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Guwahati</div></div>
  </div>
  <!-- Gallery image 2-->
  <div class="gallery-text" style="background-color: rgba(128, 128, 128, 0.63);">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Western India</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Western's India Destination Gallery</p>
  </div>
  

  <div class="gallery-image2">
    <div class="image-box5"> 
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn2JyAAJTrpcxdgZQRadTbg8EDfyDy7A2c9w&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Nagpur</div></div>
    <div class="image-box6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMgfbFprSBaUmMOx0wM0NmlEfkQct7yx74rw&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Ahemdabad</div></div>
    <div class="image-box7">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYTDgrfsGc9NB8XGrZbWIeAy5m2VE4k4LTew&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box"> Humpi</div></div>
    <div class="image-box8">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUXRRlWszTVGRpRuB7WQjLEqfjP1l7DSBNTg&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Goa</div></div>
    </div>
     

    <!-- Gallery 3 -->
<div class="gallery-text" style="background-color:rgba(153, 205, 50, 0.493) ">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Northern India</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Northern's India Destination Gallery</p>
  </div>
  
  <div class="gallery-image">
  <div class="gallery-image1">
  <div class="image-box1"> 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxWh73r_FfTNFtsv359boB03nDQHGz6Ts_UA&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">New Delhi</div>
  </div>
  <div class="image-box2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoqPCCa7ytuEqvKpE4HmgmEW03DESwEXY3bw&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Varansi</div></div>
  <div class="image-box3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI0z8q5w9o0NBZbUNquvzQRw1xQnfZN97NojvaKcJHmx9kBD-YmhITQ9wkjN76aCPKq8s&usqp=CAU" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box"> Agra</div></div>
  <div class="image-box4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrRybgdpLhfwVLO_d1XaXEfROiMaITuDoyKg&s" alt="55" style="height: 100%; width: 100%;">
    <div class="text-box">Mathura</div></div>
  </div>
  <!-- Gallery image 4 -->
  <div class="gallery-text" style="background-color: rgba(255, 166, 0, 0.568);">
    <h2 style="display: flex; justify-content: center;margin-top: 20px;">Southest India</h2>
    <p style="display: flex; justify-content: center; font-size: 20px;" >At Jingle Holiday Bazar Southest India Destination Gallery</p>
  </div>
  

  <div class="gallery-image2">
    <div class="image-box5"> 
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ8kfWMlpelyKMnkzr3I4Ija9AdYhr2sIg8g&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Tamil-Nadu</div></div>
    <div class="image-box6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEYCsBRPx85XyP3BwX1YJshK4bYXMI-Iv1vw&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Dalhousie</div></div>
    <div class="image-box7">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXLmpU2kdj27XbPeBOF1MT5_Wx2B1kWJ3voQ&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box"> Kimbart ,National Park</div></div>
    <div class="image-box8">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTWXkHKPnD04KMVe_Vh7twEy_ueRe2ND3eRA&s" alt="55" style="height: 100%; width: 100%;">
      <div class="text-box">Trichy</div></div>
    </div>